@import url('https://fonts.googleapis.com/css2?family=Lato&family=Reddit+Mono:wght@200..900&display=swap');

body {
    font-family: 'Reddit Mono', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #da9d9d;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8baba;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Title Styles */
h1 {
    text-align: center;
    color: #333;
    text-decoration: underline;
}

/* Search Input Styles */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Button Styles */
button {
    font: 'Reddit Mono';
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


button {
    --clr: #5559AB;
    --outline: 2px solid white;
    border: 2px solid var(--clr);
    background: var(--clr);
    color: white;
    outline: var(--outline);
    transition: outline-offset 200ms ease;
}

button:hover,
button:focus {

    outline: var(--outline);
    outline-offset: -6px;
}

/* Movie List Styles */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.movie h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.movie p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movie-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    transition: 0.5s;
}

.movie-details:hover {
    scale: 1.03;
    opacity: 2;
    box-shadow: 0 0 10px #5559AB;
}

.movie-details h3 {
    margin-top: 0;
}

.movie-details img {
    max-width: 100%;
    height: auto;
}